# Ignore virtual environment
.venv/
venv/

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Streamlit cache & configs
.streamlit/

# Ignore log files
*.log

# Ignore OS files
.DS_Store
Thumbs.db
